*~
.DS_Store
**/target/*
target/*
project/*
.idea/*
**/output/*
output/old/*
output-log/*
*.o
*.a
**/builds/*
**/dist/*
**/kcnf-converter/build/*
**/sy4ncl/dist/build/*
**/bin
**/.worksheets
**/bliss-*
**~
